.card-post {
    max-width: 600px;
}

.custom-btn {
    border: none;
    background-color: transparent;
    color: grey;
}

.custom-btn:hover {
    color: black;
}

.no-border {
    border: none !important; /* Видалення кордонів */
}

.bottom-border-only {
    border: none; /* Remove all borders */
    border-bottom: 2px solid black; /* Add bottom border, adjust color & width as needed */
}

.navbar-brand {
    font-family: 'Lobster', sans-serif;
    font-size: 36px/* Назва шрифту, змініть на вибраний вами */
}

.navbar-nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px/* Назва шрифту, змініть на вибраний вами */
}

.btn-primary {
    background: #0095F6;
    border-color: #0095F6;
}

.btn-primary:hover {
    background: #1877F2;
    border-color: #1877F2;
}

.btn-logout {
    font-size: 24px;
}
