{% extends "base_profile.html" %}
{% load static %}
{% block main %}
    {% for user in users %}
        <p><a
                href="{% url 'posts:get_user_posts' user.id %}">
            {% if user.userprofile.avatar %}
                <img src="{{ user.userprofile.avatar.url }}" alt="avatar"
                     class="rounded-circle"
                     style="width: 100px; height: 100px;">
            {% else %}
                <img src="{% static 'images/no_avatar.jpg' %}"
                     alt="Default Avatar" class="rounded-circle"
                     style="width: 100px; height: 100px;">
            {% endif %}
            {{ user.username }}
        </a></p>
    {% endfor %}
{% endblock %}