{% load static %}
<div class="d-flex flex-column align-items-center m-3">
    <a href="{% url 'accounts:profile' user.id %}">
        {% if user.userprofile.avatar %}
            <img src="{{ user.userprofile.avatar.url }}" alt="User Avatar"
                 class="rounded-circle"
                 style="width: 100px; height: 100px;">
        {% else %}
            <img src="{% static 'images/no_avatar.jpg' %}"
                 alt="Default Avatar"
                 class="rounded-circle"
                 style="width: 100px; height: 100px;">
        {% endif %}
    </a>
    <h4>{{ user.username }}</h4>
</div>
