<div class="container-fluid mx-auto">
    <h6>{{ post.caption }}</h6>
    {% for photo in post.photos.all %}
        <div class="text-center">
            <img src="{% if photo.picture %}{{ photo.picture.url }}{% else %}!!!!!{% endif %}" alt="Photo"
                 class="img-fluid mb-1"
                 style="width: 550px; height: auto;">
        </div>
    {% endfor %}
    <div class="card-body">
        <p>{{ post.content }}</p>
        {% for hashtag in post.hashtags.all %}
            <a href="{% url 'posts:post_list' %}?hashtag={{ hashtag.name }}"><span
                    class="hashtag">#{{ hashtag.name }}</span></a>
        {% endfor %}
        <p>{{ post.likes_count }} likes</p>
        <div class="d-flex">
            <a href="{% url 'posts:like_post' post.id %}"
               class="btn btn-lg custom-btn me-2">
                <i class="fa-regular fa-heart"></i>
            </a>
            <a href="{% url 'posts:post_detail' post.id %}"
               class="btn btn-lg custom-btn me-2"><i
                    class="fa-solid fa-magnifying-glass"></i></a>
            {% if post.user == request.user %}
                <a href="{% url 'posts:edit_post' post.id %}"
                   class="btn btn-lg custom-btn me-2">
                    <i class="fa-solid fa-gear"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>