{% load static %}
{% load crispy_forms_filters %}
{% load cloudinary %}

<h6>{{ post.caption }}</h6>
{% if post.photos.all.count > 1 %}
    <div id="PostCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for photo in post.photos.all %}
                <button type="button" data-bs-target="#PostCarousel"
                        data-bs-slide-to="{{ forloop.counter0 }}"
                        {% if forloop.first %}class="active"
                        aria-current="true"{% endif %}
                        aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for photo in post.photos.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ photo.picture.url }}" alt=""
                         class="img-fluid"
                         style="max-width: 100%; width: 550px; height: 550px; object-fit: cover;">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button"
                data-bs-target="#PostCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"
                      aria-hidden="true"></span>
            <span class="visually-hidden">Prev</span>
        </button>
        <button class="carousel-control-next" type="button"
                data-bs-target="#PostCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"
                      aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% else %}
    {% for photo in post.photos.all %}
        <img src="{{ photo.picture.url }}" alt=""
             class="img-fluid"
             style="max-width: 100%; width: 550px; height: 550px; object-fit: cover;">
    {% endfor %}
{% endif %}

<p>{{ post.content }}</p>
{% for hashtag in post.hashtags.all %}
    <a href="{% url 'posts:post_list' %}?hashtag={{ hashtag.name }}"><span
            class="hashtag">#{{ hashtag.name }}</span></a>
{% endfor %}
<p class="like-count"
   data-post-id="{{ post.pk }}">{{ post.likes.count }} likes</p>

<div class="d-flex mb-3">
    <button type="button" data-id="{{ post.pk }}"
            class="like-btn btn btn-lg custom-btn me-2">
        {% if post.user_like_it %}
            <i class="fa-solid fa-heart"
               style="color: #ff3040"></i>{% else %}
            <i class="fa-regular fa-heart"></i>{% endif %}
    </button>
    <a href="{% url 'posts:post_detail' post.pk %}"
       class="btn btn-lg custom-btn me-2"><i
            class="fa-solid fa-magnifying-glass"></i></a>
    {% if post.user == request.user %}
        <a href="{% url 'posts:edit_post' post.pk %}"
           class="btn btn-lg custom-btn me-2">
            <i class="fa-solid fa-gear"></i>
        </a>
    {% endif %}
</div>

<form class="comment-form" data-post-id="{{ post.id }}" method="post"
      action="{% url 'posts:add_comment' post.pk %}">
    {% csrf_token %}
    <div>{{ comment_form|crispy }}</div>
    <button type="button" class="submit-comment btn btn-primary small mb-3">Add
        Comment
    </button>
</form>

<div class="comments-container">
    {% for comment in post.comments.all %}
        <div class="row align-items-center">
            <div class="col-1 mb-auto"><a
                    href="{% url 'posts:post_list' %}?user={{ comment.user.id }}"><img
                    class="rounded-circle"
                    style="width: 30px; height: auto;"
                    src="{% if comment.user.userprofile.avatar %}{{ comment.user.userprofile.avatar.url }}{% else %}{% static 'images/no_avatar.jpg' %}{% endif %}"
                    alt=""></a></div>
            <div class="col-sm-11">
                <p style="font-size: small">
                    <b>{{ comment.user.username }}: </b>{{ comment.content }}
                </p>
                <p style="font-size: x-small; color: grey">
                    {{ comment.created_at }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
