{% extends "base.html" %}
{% load static %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-md-2 d-none d-md-block align-items-center-center">
            <p class="d-flex flex-column align-items-center">
                <a href="{% url 'accounts:profile' user_id=user.id %}"><img
                        src="{% if user.userprofile.avatar %}
                        {{ user.userprofile.avatar.url }}
                        {% else %}{% static 'images/no_avatar.jpg' %}
                        {% endif %}"
                        alt="User Avatar"
                        class="rounded-circle"
                        style="width: 80%; max-width: 120px; height: auto;"></a>
            </p>
            <p class="d-flex flex-column align-items-center m-5">
                <a class="menu-btn" href="{% url 'accounts:following' %}"><i
                        class="fa-solid fa-person-running icon-size"
                        style="font-size: large"></i></a>
            </p>
            <p class="d-flex flex-column align-items-center m-5">
                <a class="menu-btn" href="{% url 'accounts:followers' %}"><i
                        class="fa-solid fa-users icon-size"></i></a></p>
        </div>
        <div class="col-lg-10 col-sm-10">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
