{% load static %}
<div class="{% if orientation == 'vertical' %}d-flex flex-column align-items-center{% else %}d-flex align-items-center{% endif %}"
     style="{% if orientation != 'vertical' %}transform: scale(0.75);{% endif %}">
    {% if user.userprofile.avatar %}
        <img src="{{ user.userprofile.avatar.url }}" alt="User Avatar"
             class="rounded-circle"
             style="width: 100px; height: 100px; {% if orientation != 'vertical' %}transform: scale(0.65);{% endif %}">
    {% else %}
        <img src="{% static 'images/no_avatar.jpg' %}"
             alt="Default Avatar"
             class="rounded-circle"
             style="width: 100px; height: 100px;">
    {% endif %}
    <h4>{{ user.username }}</h4>
</div>
