{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Profile {{ user }}</h1>
    {% if user.userprofile.avatar %}
        <img src="{{ user.userprofile.avatar.url }}" alt="User Avatar">
    {% else %}
        <img src="{% static 'images/no_image.png' %}" alt="Default Avatar">
    {% endif %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create post</button>
    </form>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'auths:logout' %}">logout</a>
{% endblock %}