{% extends "base_profile.html" %}
{% load static %}
{% block main %}
    {% for photo in post.photos.all %}
        <div>
            <p><img src="{{ photo.picture.url }}"
                    alt="photo"></p>
            <p><a href="{% url 'posts:delete_photo' photo.id %}">
                <button type="submit">delete</button>
            </a></p>
        </div>
    {% endfor %}
    {% include "posts/includes/post_form.html" with submit_button=submit_button %}
    <form method="post" action="{% url 'posts:post_detail' post_id=post.id %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete"/>
        <button type="submit">DELETE POST</button>
    </form>
{% endblock %}