{% extends "base_profile.html" %}
{% load static %}
{% block main %}
    {% for post in posts %}
        <div class="center">
            <div class="post">
                <p>
                    {% if post.user.userprofile.avatar %}
                        <img class="small_avatar" src="{{ post.user.userprofile.avatar.url }}" alt="avatar">
                    {% else %}
                        <img class="small_avatar" src="{% static 'images/no_image.jpg' %}" alt="Default Avatar">
                    {% endif %}
                    {{ post.user.username }}
                </p>
                <div class="image-container">
                    {% for photo in post.photos.all %}
                        <a href="{% url 'posts:edit_post' post.id %}"><img src="{{ photo.picture.url }}"
                                                                           alt="Photo"></a>
                    {% endfor %}
                </div>
                <p>{{ post.caption }}</p>
                <p>{{ post.likes.count }}likes</p>
                <button><a href="{% url 'posts:like_post' post.id %}">Like</a></button>
            </div>
        </div>
    {% endfor %}
{% endblock %}