{% extends "base_profile.html" %}
{% load static %}
{% block main %}
    {% for post in posts %}
        <div class="center">
            <div class="post">
                <p>
                    {% if post.user.userprofile.avatar %}
                        <img class="small_avatar" src="{{ post.user.userprofile.avatar.url }}" alt="avatar">
                    {% else %}
                        <img class="small_avatar" src="{% static 'images/no_image.jpg' %}" alt="Default Avatar">
                    {% endif %}
                    {{ post.user.username }}
                </p>
                <div class="image-container">
                    <img src="{{ post.picture.url }}" alt="Photo">
                </div>
                <p>{{ post.caption }}</p>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'auths:logout' %}">logout</a>
{% endblock %}