{% extends "base_profile.html" %}
{% load static %}
{% block main %}
    {% for post in user.posts.all %}
        <div class="center">
            <div class="post">
                <div class="image-container">
                    {% for photo in post.photos.all %}
                        <a href="{% url 'posts:edit_post' post.id %}"><img src="{{ photo.picture.url }}" alt="Photo"></a>
                    {% endfor %}
                </div>
                <p>{{ post.caption }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
