{% extends "base_profile.html" %}
{% load static %}
{% block main %}
    <div class="post">
        <p>{{ post.caption }}</p>
        <div class="image-container">
            {% for photo in post.photos.all %}
                <p><img src="{{ photo.picture.url }}"
                        alt="photo"></p>
            {% endfor %}
        </div>
        <p>{{ post.content }}</p>
        {% for hashtag in post.hashtags.all %}
            <a href="{% url 'posts:posts_by_hashtag' hashtag.id %}"><span
                    class="hashtag">#{{ hashtag.name }}</span></a>
        {% endfor %}
        <p>{{ post.likes.count }} likes</p>
    </div>
    <h2 class="center">Likes from:</h2>
    {% for like in post.likes.all %}
        <p class="list_of_users"><a
                href="{% url 'posts:post_list' %}?user={{ like.user.id }}">
            {% if like.user.userprofile.avatar %}
                <img class="small_avatar"
                     src="{{ like.user.userprofile.avatar.url }}" alt="avatar">
            {% else %}
                <img class="small_avatar"
                     src="{% static 'images/no_avatar.jpg' %}"
                     alt="Default Avatar">
            {% endif %}
            {{ like.user.username }}
            {% for hashtag in post.hashtags.all %}
                <a href="{% url 'posts:post_list' %}?hashtag={{ hashtag.name }}"><span
                        class="hashtag">#{{ hashtag.name }}</span></a>
            {% endfor %}
        </a></p>
    {% endfor %}
    {% if post.user == request.user %}
        <button class="button">
            <a href="{% url 'posts:edit_post' post.id %}">Edit</a>
        </button>
    {% endif %}
{% endblock %}