{% extends "base_profile.html" %}
{% load static %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img
                        src="{% if profile_user.userprofile.avatar %}
                        {{ profile_user.userprofile.avatar.url }}
                        {% else %}{% static 'images/no_avatar.jpg' %}
                        {% endif %}"
                        alt=""
                        class="rounded-circle p-3"
                        style="width: 100px; height: 100px;">
                <h4 class="text-center">{{ profile_user }}</h4>
            {% if profile_user.pk != user.pk %}
                <button type="button" data-id="{{ profile_user.pk }}"
                        class="follow-btn ms-3"><i
                        class="fa-regular fa-circle-check"></i>
                </button>
            {% endif %}
            </div>
            {% for post in posts %}
                <div class="col-sm-12 col-md-6 col-lg-4"
                     style="max-width: 575px">
                    {% include 'posts/includes/single_post.html' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
